# Sensitive encrypted seed file
encrypted_seed.txt

# Python cache
__pycache__/
*.pyc

# Environment files
.env

# IDE files
.vscode/
.idea/

# Ignore build artifacts
*.log
*.tmp

app/server.py.bak
keys/student_private.pem
